.section-block {
  padding: 40px 0;
}

.banner-header {
  height: 320px;
  @include flexbox;
  @include flexAlignItems(center);
    figure {
      margin: 0;
      cursor: auto;
        &:hover img {
          @include scale(1);
        }
        img {
          @include transition(all 0.5s);
        }
    }
    h2 {
      color: #fff;
      padding: 150px 0;
      margin: 0;
    }
}

#intro {
  background-image: url(../images/intro-bg.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
  position: relative;
  .paddingFix {
    padding-left: 0;
    padding-right: 0;
  }
  #hero {
    background: url(../images/hero-bg.png);
    background: rgba(50, 62, 149,0.4);
    color: #fff;
    padding: 0;
    @include border-radius(0);
    margin-bottom: 0;
    hgroup {
      padding: 35px 0;
      text-transform: uppercase;
      h1 {
        background: $GSAlightBlue;
        padding: 20px 50px 0;
        font-size: 30px;
        #huge-GSA {
          font-size: 100px;
          display: block;
          float: left;
          margin-top: -15px;
        }
        #thisIs {
          display: block;
          float: left;
          font-size: 36px;
            #is {
              padding-left: 48px;
            }
        }

      }
      h2 {
        padding: 0 50px 7px;
      }
    }
  }
  footer {
    position: absolute;
    bottom: 0;
    right: 50px;
    color: #fff;
  }
}

#welcome {
  padding: 50px 0;
    #welcome-video {
      margin-top: 25px;
    }
    h4 {
      margin-top: 0;
    }
}

#priorities {
  background: $gray;
}

.foursquare, #header-catcher {
    article {
      @include flexbox;
      @include flexAlignItems(center);
      margin: 10px 0;
      cursor: pointer;
      figure {
        float: left;
        max-width: 80px;
        padding: 0;
      }
      > div {
        padding-left: 20px;
        float: right;
        @include alignSelf(flex-end);
        h3 {
          padding: 0;
          margin: 0;
          font-weight: normal;
          font-size: 20px;
        }
      }
    }
}

#data {
  background: $gray;
    .foursquare {
      article {
        > div {
          float: none;
        }
      }
    }
    .item:first-child {
      padding-bottom: 100px;
    }
}